@using Microsoft.AspNetCore.Identity
@inject UserManager<User> userManager
@{
    var user = userManager.GetUserId(User);    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BubbleNewsSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.tiny.cloud/1/a98z1kezz0aqh1x906vxdnxnlj4j8f9eft7pum5mr79mjyan/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea'
        });
    </script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BubbleNewsSite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="News" asp-action="news">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="News" asp-action="NewsCRUD">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">Users Controll</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Roles" asp-action="Index">Role</a>
                        </li>
                    </ul>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <p>@User.Identity.Name</p>
                <a class="nav-link text-dark" asp-controller="Account" asp-action="MyPersonalCabinet" asp-route-id="@user">My Cabinet</a>

                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input type="submit" value="Выход" />
                </form>
            }
            else
            {
                <a asp-controller="Account" asp-action="Login" class="m-1">Вход</a>
                <a asp-controller="Account" asp-action="Register" class="m-1">Регистрация</a>
            }
        </nav>
    </header>

    <div class="container" style="background-color: aqua;">
        <div class="list-group list-group-horizontal justify-content-center">
            <a class="nav-link text-dark" asp-controller="News" asp-action="news" asp-route-typeNews="Phone">Phone</a>
            <a class="nav-link text-dark" asp-controller="News" asp-action="news" asp-route-typeNews="PC">PC</a>
            <a class="nav-link text-dark" asp-controller="News" asp-action="news" asp-route-typeNews="Laptop">Laptop</a>
            <a class="nav-link text-dark" asp-controller="News" asp-action="news" asp-route-typeNews="ITCompany">IT Company</a>
            <a class="nav-link text-dark" asp-controller="News" asp-action="news" asp-route-typeNews="Messenger">Messenger</a>
            <a class="nav-link text-dark" asp-controller="News" asp-action="news" asp-route-typeNews="SocialNetwork">Social Network</a>
            <a class="nav-link text-dark" asp-controller="News" asp-action="news" asp-route-typeNews="ComputerHardware">Computer Hardware</a>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BubbleNewsSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
