@model BubbleNewsSite.Models.User
@{ 
    ViewBag.Title = "My Account";
}
<div class="col-12 d-flex flex-wrap pt-5">
    <div class="col-md-4 d-flex">
        @if (Model.Avatar != null)
        {
            <img style="border-radius: 50%; width:252px; height:252px;" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" />
        }
        else
        {
            <img style="border-radius: 50%; width:252px; height:252px;" src="~/Avatar/UnknownAvatar.jpg" />
        }

    </div>
    <div class="col-md-8 d-flex flex-wrap">
        <div class="col-md-12 text-center mb-4">
            <h3>
                My account
            </h3>
        </div>

        <div class="col-md-12 d-flex justify-content-center flex-wrap border-bottom mb-2">
            <div class="col-md-12 text-secondary d-flex justify-content-center">
                NAME
            </div>
            <h6 class="col-md-12 d-flex justify-content-center">@Model.Name</h6>
        </div>

        <div class="col-md-12 d-flex justify-content-center flex-wrap border-bottom mb-2">
            <div class="col-md-12 text-secondary d-flex justify-content-center">
                FIRST NAME
            </div>
            <h6 class="col-md-12 d-flex justify-content-center">@Model.FirstName</h6>
        </div>

        <div class="col-md-12 d-flex justify-content-center flex-wrap border-bottom mb-2">
            <div class="col-md-12 text-secondary d-flex justify-content-center">
                LAST NAME
            </div>
            <h6 class="col-md-12 d-flex justify-content-center">@Model.LastName</h6>
        </div>


        <div class="col-md-12 d-flex justify-content-center flex-wrap border-bottom mb-2">
            <div class="col-md-12 text-secondary d-flex justify-content-center">
                EMAIL
            </div>
            <h6 class="col-md-12 d-flex justify-content-center">@Model.Email</h6>
        </div>

        <div class="col-md-12 d-flex justify-content-center flex-wrap border-bottom mb-2">
            <div class="col-md-12 text-secondary d-flex justify-content-center">
                GENDER
            </div>
            <h6 class="col-md-12 d-flex justify-content-center">@Model.Gender</h6>
        </div>

        <div class="col-md-12 d-flex justify-content-center flex-wrap border-bottom mb-2">
            <h5 class="col-md-12 d-flex justify-content-center">
                <a class="text-decoration-none text-dark" asp-action="ChangePasswordCurUser" asp-controller="Account">Change password</a>
            </h5>
        </div>

        <div class="col-md-12 d-flex justify-content-center flex-wrap border-bottom">
            <h5 class="col-md-12 d-flex justify-content-center">
                <a class="text-decoration-none text-dark" asp-action="ChangePersonalData" asp-controller="Account">Change personal data</a>
            </h5>
        </div>
    </div>
</div>




